.App {
    background-color: #F2F2F2;
    
}

nav {
    display: grid;
    align-items: center;
    min-height: 10vh;
    color: #707070;
    font-weight: 700;
}

.nav-links {
    display: grid;
    /* grid-template-columns: minmax(515px, 1fr) minmax(515px, 1fr); */
    grid-template-columns: minmax(250px, 300px) 1fr;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* background-color: aqua; */
    padding: 0;
    margin-left: 160px;
    margin-right: 160px;
    font-size: 30px;
    grid-gap: 20px;
}

.nav-link {
    display: grid;
    /* grid-template-columns: minmax(515px, 1fr) minmax(515px, 1fr); */
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    list-style: none;
    /* background-color: aqua; */
    padding: 0;
    margin-left: 160px;
    margin-right: 160px;
    font-size: 40px;
    grid-gap: 20px;
}

.home {
    display: grid;
    justify-content: start;
    color: #707070;
    text-decoration: none;
}

.logout-container {
    display: grid;
    justify-content: end;
    text-decoration: none;
}

.logout-button {
    border: none;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}

.app-container {
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1fr;
    grid-template-rows: 640px;
    /* grid-template-rows: repeat(auto-fill, minmax(500px, 1fr)); */
    justify-content: center;
    grid-gap: 20px;
    margin-top: 0px;
    margin-left: 160px;
    margin-right: 160px;
}

.tasks-container {
    display: grid;
    grid-template-columns: 300px;
    /* grid-template-rows: 50px 500px; */
    background-color: white;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.tasks {
    display: grid;
    grid-template-rows: 40px 1fr 53px;
    overflow: hidden;
    justify-items: center;
    padding: 12px;
}

.tasks-header {
    text-align: center;
    color: rgb(182, 182, 182);
    font-weight: 600;
    font-size: 18px;
    margin-top: 8px;
}

.tasks-list {
    /* display: grid; */
    list-style: none;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat( 70px); */
    color: black;
    grid-gap: 3px;
    padding-left: 0;
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}

.tasks-list::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

.single-task {
    display: grid;
    grid-template-columns: 50px minmax(150px, 155px) 25px 25px;
    /* height: 100px;
    background-color: blanchedalmond; */
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
}

/* .single-task-selected {
    display: grid;
    grid-template-columns: 50px minmax(150px, 155px) 25px 25px;
    height: 100px;
    background-color: blanchedalmond;
    padding: 5px;
    padding-left: 18px;
    cursor: pointer;
    background-color: rgb(141, 141, 141);
} */

.emoji {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.single-task-details {
    display: grid;
    justify-content: left;
    padding-left: 20px;
}

.title-tag {
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden;
    /* background-color: lightcoral; */
    max-width: 170px;
}

.title-tag-strike {
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-decoration: line-through;
    /* background-color: lightcoral; */
    max-width: 170px;
}

.description-tag {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden;
    /* background-color: lightsalmon; */
}

.description-tag-strike {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden;
    text-decoration: line-through;
    /* background-color: lightsalmon; */
}

.done-button {
    border: 0;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
}

.delete-button {
    border: 0;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
}

.dropdown {
    color: #FFD600;
}

.task-view {
    display: grid;
    grid-template-columns: minmax(210px, 1fr) 320px;
    grid-template-rows: 560px 80px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.submit-area {
    display: grid;
    /* background-color: aqua; */
    grid-column: span 2;
    justify-content: center;
    align-content: center;
}

.save-img {
    height: 55px;
}

.add-button {
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 30px;
    background-color: #FFD600;
    font-size: 40px;
    color: white;
    outline: none;
    cursor: pointer;
}

.add-button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.submit-button {
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 30px;
    background-color: #FFD600;
    font-size: 40px;
    color: white;
    outline: none;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

